@{
    ViewBag.Title = "About";
}

<center>
<br /><br />
<img src="~/Content/image/Aymane.jpg" width="400" height="400" />
<br /><br />
    </center>
<center>
    <p>Name : Mohamed Aymane Zizi</p>
    <p>Birth Place : Rabat/Morocco </p>
    <p>Date of Birth : 23/03/1991</p>
    <p>Foreign languages : English</p>
    <p>University: Yıldırım Beyazıt University</p>
    <p>Department: Computer Engineering</p>
    <p>StudentNo: 1105014005</p>

</center>
