@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

        <address>
            Dikimevi<br />
            Ankara, Turkey <br />
            <abbr title="Phone">P:</abbr>
            00 90 542 893 31 89
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:sayf01islam@gmail.com">sayf01islam@gmail.com</a><br />
        </address>
